body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 45%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    min-height: 100vh;
    background-color: #fff;
}

#traversal {
	position: fixed;
	right: 0;
	top: 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	padding: 20px;
	min-height: 25vh;
	max-width: 18%;
	content: "";
	background-color: #fff;
	
}

#traversal-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.traversal-element {
	width: 2em;
	margin: 2px;
	height: 2em;
	border: 1px solid black;
	border-radius: .5rem;
	align-items: center;
    transition: all 300ms ease; /* Actualizado */
}

.traversal-element:hover, .traversal-element:focus-within {
	transform: scale(1.02);
	background-color: #eee;
}

.traversal-button {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: .5rem;
	text-decoration: none;
	color: black;
	background-color: transparent;
	display: flex;
	align-items: center;
}

.traversal-text {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.incorrect {
	background-color: #e25c5c;
}

.correct {
	background-color: #5ce25c;
}
.answered {
	background-color: #a1d5f8;
}

h1 {
    text-align: center;
    color: #333;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

#topic-selector {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question-container {
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
}

.question label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.question ul {
    list-style-type: none;
    padding: 0;
}

.answer {
    display: flex; /* Nuevo */
    align-items: center; /* Nuevo */
    margin-bottom: 10px;
    background-color: #a1d5f8;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 300ms ease, transform 300ms ease; /* Actualizado */
}

.answer:hover, .answer:focus-within {
    background-color: #8ccbf7;
    transform: scale(1.005); /* Nuevo */
}

.answer label {
    pointer-events: none; /* Nuevo */
    margin-left: 10px; /* Nuevo */
}


.answer input {
    margin-right: 10px;
}

#buttons-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    border-top-left-radius: 10px;
    background: transparent;
}

button.btn {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn:hover, button.btn:focus-within {
    background-color: #0056b3;
}

button.btn:disabled {
    background-color: #cccccc;
}

.explanation {
    background-color: #f8f8f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border-left: 5px solid #e8e8d0;
}
