:root {
	--c-app1        : #ffffff;
	--c-app2        : #dddddd;
	--c-btn1        : #007BFF;
	--c-btn2        : #0056b3;
	--c-main1       : #a1d5f8;
	--c-main2       : #8ccbf7;
	--c-correct     : #5ce25c;
	--c-incorrect   : #e25c5c;
	--c-background  : #f4f4f4;
	--c-explanation1: #f8f8f0;
	--c-explanation2: #e8e8d0;
	--c-btn-disabled: #cccccc;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--c-background);
    color: #333;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 45%;
    margin: 5px auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    min-height: 100vh;
    background-color: var(--c-app1);
}

#traversal {
	position: fixed;
	left: 5px;
	top: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	padding: 20px;
	min-height: 25vh;
	max-width: 18%;
	content: "";
	background-color: #fff;
	
}

#traversal-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.traversal-element {
	width: 2em;
	margin: 2px;
	height: 2em;
	border: 1px solid black;
	border-radius: .5rem;
	align-items: center;
    transition: all 300ms ease; /* Actualizado */
}

.traversal-element:hover, .traversal-element:focus-within {
	transform: scale(1.02);
	background-color: var(--c-app2);
}

.traversal-button {
	width: 100%;
	height: 100%;
	background-color: var(--c-app);
	border-radius: .5rem;
	text-decoration: none;
	color: black;
	background-color: transparent;
	display: flex;
	align-items: center;
}

.traversal-text {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.incorrect {
	background-color: var(--c-incorrect);
}

.correct {
	background-color: var(--c-correct);
}
.answered {
	background-color: var(--c-main1);
}

h1 {
    text-align: center;
    color: #333;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--c-app2);
}

#topic-selector {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid var(--c-app2);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--c-app1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question-container {
    margin-top: 20px;
}

.question {
	margin-top: 10px;
	padding-bottom: 5px;
	position: relative;
}

ul {
	margin: 0;
}

.question::before {
	position: absolute;
	content: "";
	width: 100%;
	bottom: 0;
	left: 0;
	height: 2px;
	background-color: var(--c-app2);
}

.question label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.question ul {
    list-style-type: none;
    padding: 0;
}

.answer {
    display: flex; /* Nuevo */
    align-items: center; /* Nuevo */
    margin-bottom: 10px;
    background-color: var(--c-main1);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 300ms ease, transform 300ms ease; /* Actualizado */
}

.answer:hover, .answer:focus-within {
    background-color: var(--c-main2);
    transform: scale(1.005); /* Nuevo */
}

.answer label {
    pointer-events: none; /* Nuevo */
    margin-left: 10px; /* Nuevo */
    margin: 0; /* Nuevo */
    padding: 0; /* Nuevo */
    display: flex; /* Nuevo */
    align-items: center; /* Nuevo */
}


.answer input {
    margin-right: 10px;
    margin: 10px;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    border-top-left-radius: 10px;
    background: transparent;
}

/* Estilo para el contenedor del switch */
.switch-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    max-width:20%;
}

/* Estilo para la etiqueta del switch */
.switch-container label {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

/* Estilo para el switch */
.switch-container .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Estilo para el slider del switch */
.switch-container .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-container .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch-container .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.switch-container input:checked + .slider {
    background-color: #2196F3;
}

.switch-container input:checked + .slider:before {
    transform: translateX(26px);
}

/* Estilo para el slider del switch - versión redondeada */
.switch-container .slider.round {
    border-radius: 34px;
}

.switch-container .slider.round:before {
    border-radius: 50%;
}

#scroll-to-top-button {
    display: none;
    align-self: right;
}

button.btn {
    padding: 10px 20px;
    border: none;
    background-color: var(--c-btn1);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn:hover, button.btn:focus-within {
    background-color: var(--c-btn2);
}

button.btn:disabled {
    background-color: var(--c-btn-disabled);
}

.explanation {
    background-color: var(--c-explanation1);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border-left: 5px solid var(--c-explanation2);
}
