body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    position: fixed; /* Añade la posición fija */
    right: 20px; /* Ajusta la distancia desde la derecha de la pantalla */
    bottom: 20px; /* Ajusta la distancia desde la parte inferior de la pantalla */
}

label {
    
    font-weight: bold;
}

li{
    margin-bottom: 3px; 
}

.question{
    margin-bottom: 10px;
    background-color: #a1d5f8;
    border-radius: 5%;
    padding: 1em;
}

.answer label, input{
	cursor: pointer;
}


